@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /*========== Colors ==========*/
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --footer-bg-color: #040d12;

  /*========== Shadow ==========*/
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --navbar-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /*========== Font and typography ==========*/
  --body-font: "Urbanist", sans-serif;
  --second-font: "Poppins", sans-serif;

  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.275rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-600);
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p,
li,
a,
label {
  font-family: var(--body-font);
  font-size: 1.125rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

/*=========REUSABLE CSS CLASSES========*/
.container {
  max-width: 1370px;
  margin-inline: auto;
  padding: 0.75rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/*=========Header & Nav========*/

header {
  box-shadow: var(--navbar-shadow);
}
.nav,
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo--img {
  width: 80%;
  align-items: center;
}

.nav-list {
  text-transform: uppercase;
  gap: 20px;
}

.nav__link {
  font-size: var(--normal-font-size);
  font-weight: var(--weight-600);
}

.btn {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  padding: 0.75rem 2rem;
  font-weight: var(--weight-600);
  border: none;
  border-radius: 0.25rem;
  transition: all 0.4s var(--transition);
}

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
}

/*========== MAIN =======*/

.hero-section {
  height: 100vh;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}

.hero-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-block: 96px 24px;
}

.hero-subheading {
  color: var(--hero-heading-color);
  letter-spacing: 2px;
  font-size: var(--normal-font-size);
  word-spacing: 2px;
  font-weight: 700;
}

.hero-heading {
  font-size: 58px;
  color: var(--hero-heading-color);
  font-weight: 900;
  font-family: "jost";
}

.hero-para {
  color: var(--white-color);
  font-size: 18px;
  margin-block: 1.25rem 2.5rem;
}

.hero-img {
  width: 100%;
}

.hero-img img {
  justify-self: flex-end;
  width: 100%;
  height: auto;
  transform: scaleX(-1);
  animation: bounce 3s infinite ease-in;
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}


