@media (max-width: 767px) {
  
}

@media (max-width: 767px) {
  

  .row {
    flex-direction: column;
  }

  #row{
    flex-direction: column-reverse;
  }
  .nav-items ul li {
    display: block;
  }

  .nav-items ul li a {
    color: #212934;

    padding: 8px 16px;
    display: block;
  }

  .nav-items {
    height: 100vh;
    width: 250px;

    position: absolute;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    background: #fff;
    transition: 0.5s;
  }

  nav .toggle {
    display: block;
  }

  nav i {
    display: block;
    color: rgba(0, 0, 0, 0.55);
    margin: 10px;
    padding: 4px 12px;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-items ul {
    padding: 30px;
  }
 

  /* feature */
  .footer .row{
    flex-direction: column;
    text-align: left;
  }

  .input{
    margin-top: 15px;
    display: inline-block;

  }

  #subscribeEmail{
   flex: 1 1 auto;
  }
}
