@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Spartan:wght@100..900&display=swap");

/*============ VARIABLE CSS ========*/

:root {
  /*===== Colors =====*/
  --title-color: hsl(0, 0%, 13%);
  --border-color-alt: hsl(113, 15%, 90%);
  --first-color: hsl(176, 88%, 27%);
  --white-color: #fff;
  --text-color: hsl(154, 13%, 32%);
  --body-color: hsl(0, 0%, 100%);

  /*===== fonts =====*/
  --h3-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* ===== Font weight ==== */
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*====font-family ==== */
  --body-font: "Lato", sans-serif;
  --second-font: "Spartan", sans-serif;

  /* ===== Transition ==== */
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/*======= BASE ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--second-font);
}

body {
  background-color: grey;
}

h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}

input {
  border: none;
  outline: none;
}

.section__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.form {
  display: grid;
}

ul {
  list-style: none;
}

.form__input {
  font-size: var(--normal-font-size);
  padding: 1rem;
  height: 49px;
  border-radius: 0.25rem;
}

.btn {
  padding-inline: 1.75rem;
  color: white;
  height: 46px;
  line-height: 46px;
  font-weight: var(--weight-700);
  font-size: var(--small-font-size);
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 2rem;
  transition: all 0.4s var(--transition);
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: var(--first-color);
}

.login-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1.5rem;
  border: 2px solid var(--border-color-alt);
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--white-color);
}

.login__description {
  margin-bottom: 1.5rem;
  font-weight: var(--weight-400);
  color: rgba(173, 173, 173, 255);
}

.phone__title {
  color: rgba(160, 160, 163, 255);
  font-weight: var(--weight-400);
  margin-bottom: 0.5rem;
}

.form__input-container {
  border: 2px solid var(--border-color-alt);
  height: 49px;
  line-height: center;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  overflow: hidden;
}

.form__nepal-flag {
  width: 35px;
}

.form__btn {
  margin-block: 2rem;
}

.divider {
  position: relative;
  text-align: center;
  margin-block: 3rem;
}

.divider span {
  position: relative;
  background-color: var(--body-color);
  padding-inline: 1.25rem;
}
.divider::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--border-color-alt);
}

.social__media-item {
  display: grid;
  gap: 1rem;
  margin-block: 2rem;
}

.social__media-link {
  height: 49px;
  border: 2px solid var(--border-color-alt);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
  border-radius: 2rem;
  cursor: pointer;
}

.media__img {
  width: 25px;
  margin-inline-end: 1rem;
}

.register{
  text-align: center;
}

#login-btn{
  color: black;
}
/* .login,
.register {
  width: 450px;
  border: 2px solid var(--border-color-alt);
  border-radius: 0.5rem;
  padding: 2rem;
} */
