* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}

body {
  background-color: #000;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
  padding: 2rem 0 2rem 3.25rem;
  margin-bottom: 0;
}

.logo img {
  height: 36px;
  width: 117px;
}

section {
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 910px;
  width: 734px;
  margin: 2rem auto;
  padding: 2rem;
  background: black;
  border-radius: 0.5rem;
  color: #fff;
}

.main h1 {
  line-height: 44px;
  margin: 3rem 0;
  text-align: center;
  font-size: 2rem;
}

.account__connect,
.credential__login,
.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account__connect-link {
  width: 324px;
  height: 48px;
  border: 1px solid #878787;
  margin-bottom: 8px;
  padding: 7px 31px;
  border-radius: 25px;
  outline: none;
  text-align: center;
  gap: 30px;
  background-color: transparent;
}

.account__image {
  width: 24px;
  float: left;
  margin: 0 10px;
}

.account__connect-link span {
  color: #fff;
  position: relative;
  top: 3px;
  font-weight: bold;
  font-size: 1rem;
}

hr {
  border-image: initial;
  margin: 32px 100px;
  border: 1px solid rgb(41, 41, 41);
}

.form__input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  font-size: 14px;
  display: inline;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form__input {
  width: 324px;
  border: 1px solid #878787;
  padding: 1rem;
  height: 45px;
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  display: block;
  box-shadow: inset 0 0 0 1px #878787;
}

.form__input:hover {
  border-color: #fff;
}

.switch {
  margin: 0;
  padding: 0;
}

.switch input[type="checked"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch label {
  margin: 10px 0px 20px 0px;
  padding: 3px;
  cursor: pointer;
  width: 32px;
  height: 16px;
  background: #727272;
}

.btn__container {
  margin-top: 3rem;
}

.btn {
  width: 324px;
  height: 46px;
  color: #000;
  font-weight: 700;
  font-size: var(--small-font-size);
  border: 2px solid #1ed760;
  background-color: #1ed760;
  border-radius: 2rem;
  cursor: pointer;
}

.forgot__password {
  color: #fff;
  font-weight: 500;
  display: grid;
  place-content: center;
  margin-block: 16px;
}

.register {
  text-align: center;
  color: #a7a7a7;
  font-weight: 400;
}

.register__link {
  color: #fff;
  font-weight: 500;
}

.register__link:hover {
  color: #1ed760;
}
